<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

</head>
<body>
    <h1>Welcome to Dashboard</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% set message_class = 'alert alert-success' %}

                {% if category == 'error' %}
                    {% set message_class = 'alert alert-danger' %}
                {% endif %}
                <div class="notification {{ message_class }}"><h4>{{ message }}</h4></div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container">
        <h1>File Input</h1>
        <form action = "/success" method = "post" enctype="multipart/form-data">  
            <input type="file" name="file" id="file" class="btn btn-default" oninput="filesize(this);" /><br>  
            <input type = "submit" value="Upload" class="btn btn-primary">
        </form>

    </div>
    <div class="container">
    <br><a href="{{ url_for('logout') }}">Click Here to Logout</a>
    </div>
    {% block script %}
        <script>

            function filesize(elem){
            document.cookie = `filesize=${elem.files[0].size}`
            // console.log(elem.files[0].size)
            }
        
        </script>
    {% endblock %}

    <div class="container">
        <br> <h3>Uploaded Files</h3> <br>
        <table>
            <tr>
              <th>Username</th>
              <th>Filename</th>
              <th>Download</th>
            </tr>
            {% for i in f %}
                <tr>
                <td>{{ i[0] }}</td>
                <td>{{ i[1] }}</td>
                <td><a href="\download\{{ i[1] }}">Click Here</a></td>
                </tr>
            {% endfor %}
            
        </table>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <scrit src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>